.bg-container {
  background-color: rgba(12, 12, 12, 1);
  height: 90vh;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.product-count-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.product-count-text {
  font-size: 16px;
  font-family: "Encode Sans";
  color: rgba(229, 223, 217, 1);
  margin-right: 10px;
}

.export-icon {
  width: 16px;
  height: 20px;
  color: rgba(229, 223, 217, 1);
}

.products-ul-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 680px;
  overflow: auto;
  padding-top: 10px;
  padding-left: 0px;
}
.products-ul-list::-webkit-scrollbar {
  display: none;
}
